<template name="characters">
    <a href="#new-character" class="btn-floating btn-large modal-trigger" id="add-character">+</a>
    <div class="row">
        <div class="col l8 offset-l1">
            <h4>Your Characters</h4>
        </div>
    </div>

    <div class="row">

    </div>

    <div id="new-character" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Add a new character</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</template>
