<template name="characters">
    <a href="#new-character" class="btn-floating btn-large modal-trigger" id="add-character">+</a>
    <div class="row">
        <div class="col l12 center-align">
            <h3 class="page-title">Your Characters</h3>
        </div>
    </div>

    <div class="row">

    </div>

    <div id="new-character" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Add a new character</h4>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s8">
                <input id="new-character" placeholder="Character name." type="text" class="validate">
              </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Create">
            </div>
          </form>
        </div>
    </div>
</template>
