<template name="dashboard">
    <div class="row">
        <div class="col l12 center-align">
            <h3 class="page-title">Your Spells</h3>
        </div>
    </div>
    <div class="row">
        <div class="col l8 s12">
            <ul class="collection">
                {{#each spells}}
                    {{ > spell }}
                {{/each}}
            </ul>
        </div><!--End Col-->

        <div class="col l4">
            <div class="profile">
                <h5>Character: James</h5>
                <h5>Level: 2</h5>
                <h5>Spells: 14</h5>
            </div>
        </div><!--End Col-->
    </div><!--End Row-->
</template>

<template name="spell">
    <a href='spell/{{this._id}}'>
        <li class="collection-item avatar hoverable">
          <img src="{{ school }}.png" class="circle">
          <span class="title">{{ name }}</span>
          <p>{{ school }} <br>
             {{ components }}
          </p>
        </li>
    </a>
</template>
