/* Colors
 * Light Grey - #FCF0E8
 * Medium Grey - #CFBDB3
 * Dark Grey - #423F3B
 * Red - #AD1A1A
 */

/* ---------------- General Overrides ------------------ */
body {
    background-color: #eee;
}
a {
    color: #333;
}
nav {
    background-color: #C90000;
}
nav i {
    height: 50px;
    line-height: 70px !important;
}
.side-nav h3 {
    color: #fff;
}
.side-nav li {
    padding: 0;
}
.side-nav li:hover {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-color: #C93232;
}
.side-nav li:first-child:hover {
    background-color: inherit;
}
.side-nav li:nth-child(2):hover {
    background-color: inherit;
}
.sidenav li a {
    padding: 0 15px;
    color: #fff;
}
.collection {
    border: none;
}
.collection .collection-item {
    margin-bottom: 8px;
}
.collection .collection-item:last-child {
    border-bottom: 1px solid #e0e0e0;
}


/* ---------------- Side Nav Fixes ----------------- */
header, main, footer {
    padding-left: 240px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}


/* --------------- General ------------------------ */
.profile {
    margin-top: 8px;
}
.profile h5 {
    color: #423F3B;
    font-size: 1.4rem;
    margin-bottom: -8px;
}
#add-character {
    position: fixed;
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 40px;
    bottom: 50px;
    right: 50px;
    background-color: #C90000;
}
.page-title {
    color: #423F3B;
}
.logo-name {
    margin: 0;
    margin-top: -10px;
    margin-bottom: 30px;
}
.logo-wrapper img {
    width: 80px;
    margin-top: 30px;
    display: inline-block;
}

/* ----------- Slide Out ----------------------- */
#slide-out {
    background-color: #AD1A1A;
}
.side-nav.fixed a {
    color: #fff;
}


/* --------------- Characters --------------------- */
.character-card {
    cursor: pointer;
}
